# The latest stable, compatible versions as of September 2025
langchain
langchain-core
langgraph
langchain-ollama
python-dotenv==1.0.1
PyPDF2==3.0.1
fastapi==0.111.0
uvicorn==0.30.1
boto3
langchain-aws
langchain-community
chromadb
